
$color-beige-primario: #9d7c5d;
$color-beige-secundario: #bbaf83;
$color-beige-terciario: #836142;
$color-azul-terciario: #2a3769;
$color-titulos: #d77345;

$ancho-uno: 720px;
$ancho-dos: 512px;
$ancho-tres: 360px;

$titulo-grande: 20px;
$titulo-medio: 14px;
$titulo-chico: 10px;
