* {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.active {
    background-color: #2a3769;
}

header {
    display: flex;
    justify-content:space-around;
    background-color: #9d7c5d;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #9d7c5d;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #a8a187;
}

.slider {
    height: 50vh;
    padding: 50px;
    margin: auto;
    background-image: url("imagenes/Cafayate001_home.jpg");
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    max-width: 100%;
    }

.logo {
    animation-duration: 4s;
    animation-name: aparecer;
    animation-iteration-count: initial;
}

@keyframes aparecer {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
}

.parrafo1 {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 100;
    line-height: 26px;
    color: #836142;
    text-align: center;
    margin: auto;
    width: 60%;
    padding: 20px;
}

@media (max-width: 600px){
    .parrafo1{
        width: 100%
    }
}
.parrafo2 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 200;
    line-height: 25px;
    font-style: italic;
    color: #ac8a6a;
    text-align: center;
    margin: auto;
    width: 60%;
}

@media (max-width: 600px){
    .parrafo2{
        width: 90%
    }
}

.separador1 {
    display: flex;
    justify-content: center;
    background-color: #2a3769;
    font-family: 'Lora', serif;
    font-size: 10px;
    font-weight: 200;
    text-align: center;
    color: #fff;
    margin: auto;
    width: 50%;
    padding: 0px;
}

.textoseparador {
    background-color: #2a3769;
    font-family:'Lora', serif; 
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 20px 20% 20px 20%;
}

@media (max-width: 600px){
    .textoseparador{
        padding: 15px 5px 15px 5px
    }
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
    padding: 20px;
    font-size: 14px;
    column-gap: 18px;
}

.columna {
    width: 300px;
    padding-bottom: 20px;
    font-weight: 500;
    word-wrap: break-word;
    text-align: justify;
    text-justify: inter-word;
}

footer {
    text-align: center;
    height: 300px;
    padding: 10px;
    font-weight: 600;
    letter-spacing: 2px;
    background-image: linear-gradient(white, #9d7c5d);
    color: #2a3b80;
    margin-top: 30px;
}

.logofooter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 340px;
}

@media (max-width: 600px){
    .logofooter {
        width: 250px
    }
}

.banner {
    width: 980px;
    height: 150px;
    margin: auto;
    margin-bottom: 20px;
}

@media (max-width: 600px){
    .banner {
        display:none;
    }
}

.sliderservicios {
    height: 50vh;
    padding: 50px;
    margin: auto;
    background-image: url("imagenes/Cafayate002_Servicios.jpg");
}

.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 30% 25% ;
    gap: 5px;
    /* background-color: #2196F3; */
    padding: 5px;
}

.grid-container > div {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    padding: 20px 0;
    font-size: 16px;
}

@media screen and (max-width: 768px) {
	.grid-container {
            grid-template-columns: 100%;
            padding: 5px 20px 5px 10px;
            width: 100% }
}


.titulos {
    font-size: 24px;
    padding-top: 20px;
    text-align: center;
    font-weight: 300px;
    color: #2a3769;
}

.servicios {
    display: flex;
    /* height: 600px; */
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px;
    
}

.servicios > div {
    /* background-color: #f1f1f1; */
    width: 350px;
    text-align: left;
    line-height: 22px;
    font-size: 16px;
    word-wrap: break-word;
    padding: 0px 15px 0px 15px;
}

.slidergaleria {
    height: 50vh;
    padding: 50px;
    margin: auto;
    background-image: url("imagenes/Cafayate003_Galeria.jpg");
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    column-gap: 20px;
}

.column {
    width: 500px;
    padding: 10px;
    height: 300px;
}

.slidercontacto {
    height: 50vh;
    padding: 50px;
    margin: auto;
    background-image: url("imagenes/Cafayate005_Contacto.jpg");
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    /* padding-top: 20px; */
    width: 70%;
    /* padding: 20px; */
    /* align-content: center; */
}

@media (max-width: 600px){
    .formulario{
        width: 90%
    }
}

input {
    width: 100%;
    padding: 16px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #d6b89c;
    border-radius: 6px;
    border: none;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    background-color: #d6b89c;
    border-radius: 6px;
    box-sizing: border-box;
    border: none;
}

input[type=submit] {
    width: 100%;
    background-color: #2a3769;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 6px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.sliderfaq {
    height: 50vh;
    padding: 50px;
    margin: auto;
    background-image: url("imagenes/Cafayate004_faq.jpg");
}

.faq {
    padding-top: 25px;
    width: 50%;
    text-align: center;
    margin: auto;
}

@media (max-width: 600px){
    .faq{
        width: 90%;
        font-size: 16px;
    }
}


hr {
    border-top: 1px solid #d6b89c;
}

.galeria {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
}

.columnagaleria {
    flex: 30%;
    padding: 10px;
}

.columnagaleria img{
    margin-top: 10px;
    width: 100%;
}

@media (max-width: 600px){
    .columnagaleria{
        flex: 100%
    }
}